{% extends 'todo_list/main.html' %}

{% block content %}

{% for message in messages %}
{{message}}
{% endfor %}

<div class="header-bar">
    <h1>Login Form</h1>
</div>

<div class="card-body">
    <form method="post">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        
        <label>{{form.password1.label}}</label>
        {{form.password}}
        <br>

        <input class="button" type="submit" value="login">
    </form>
        
    <!-- <a href="">forgotten password?</a> -->
    <p>Don't have an account?<a href="{% url 'register' %}">sign up</a></p>
    
</div>
{% endblock content %}